nav ul{
    list-style-type:none ;  /* Bullets hatane ke liye */
    padding: 0%;
    display: flex;
    gap: 60px;
    justify-content: center;
}
body{
    background-color: white;
    border: 2px solid white;;
}

nav a{
    text-decoration: none;     /* Link ke neeche ki underline hatane ke liye */
    color: black;
    font-weight: bold ;
    text-transform: uppercase;   /* Text ko capital letters mein karne ke liye */
}

h2{
    color:blue;
    font-family:sans-serif;
}

.search-container{
    text-align: center;
    margin: 10px;
    display: flex;
}

.search-container input{
    width: 400px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 4px;
}

.search-container button{
    padding: 10px 20px;
    color: white;
    cursor: pointer;
    border: none;
    background-color: blue;
}

.main{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 20px;
}

.main-header {
    display: flex;
    flex-direction: row;    /* Sab ek line mein aayenge */
   justify-content: flex-start; 
    align-items: center;
    padding: 20px;
    gap: 180px;
}

.header-Extra{
    display: flex;
    gap: 20px;
    font-size: 17px;
    margin-left: auto;
}

.header-Extra a{
   text-decoration: none;
    color: black ;
    display: inline-block;
    border: none;
    
}

.header-Extra a:hover {
   text-decoration: underline;
   color: blue;
}

.my-recipes-link{
    display: flex;
    font-family: sans-serif;
    font-weight: bold;
    text-decoration: none;
    align-items: center;
    gap: 5px;
    font-size: 15px;
}

.text-my{
    color: #ff3399;
}

.text-recipes{
    color: black;
}

